<script>
    import TheHeader from '../components/TheHeader'

    export default {
        name:       'master',
        components: {
            TheHeader
        },
        data() {
            return {}
        }
    }
</script>

<template>
    <div class="app">
        <el-container>
            <el-header style="min-height:80px;">
                <the-header></the-header>
            </el-header>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </div>
</template>

<style lang="scss">

</style>