<template>
    <div>
        <el-container>
            <el-aside>
                <el-menu
                        default-active="2"
                        class="el-menu-vertical-demo"
                        :router="true"
                >
                    <el-menu-item index="1" :route="{name: 'profile.dashboard'}">
                        <i class="el-icon-menu"></i>
                        <span>Dashboard</span>
                    </el-menu-item>
                    <el-menu-item index="2" :route="{name: 'profile.documents'}">
                        <i class="el-icon-document"></i>
                        <span>Document</span>
                    </el-menu-item>
                    <el-menu-item index="3" :route="{name: 'profile.settings'}">
                        <i class="el-icon-setting"></i>
                        <span>Settings</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </div>
</template>

<script>
    export default {
        name: "PageContact"
    }
</script>

<style scoped>

</style>